{Dennis Louis Babcock Jr 2/6/1982
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./renderer"],
        "alias": {
          "^@zap/(.+)": "./\\1"
        }
      }
    ]
  ]
}
